<h1>{{name}} Enum</h1>
<div class="box meta">
  {{#if uses}}
    <div class="uses">
      Uses
      <ul class="inline commas">
        {{#uses}}
          <li><a href="{{.}}.html">{{.}}</a></li>
        {{/uses}}
      </ul>
    </div>
  {{/if}}

  {{#if extends}}
    <div class="extends">
      Extends {{#crossLink extends}}{{/crossLink}}
    </div>
  {{/if}}

  {{#if foundAt}}
    <div class="foundat">
      Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
    </div>
  {{/if}}

  {{#if module}}
    {{#if submodule}}
      Module: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
      Parent Module: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{else}}
      Module: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{/if}}
  {{/if}}

  {{#if since}}
    <p>Available since {{since}}</p>
  {{/if}}
</div>

{{#if deprecated}}
  <div class="box deprecated">
    <p>
      {{#if deprecationMessage}}
          <strong>Deprecated:</strong> {{deprecationMessage}}
      {{else}}
          This class is deprecated.
      {{/if}}
    </p>
  </div>
{{/if}}

<div class="box intro">
  {{{description}}}
</div>

<div class="class-detail">
  {{#if members.properties}}
    <div class="properties-detail">
      {{#members.properties}}{{>props}}{{/members.properties}}
      <div class="no-visible-items-message">
        <p>There are no properties that match your current filter settings. You can change your filter settings in the index section on this page. <a href="#index" class="index-jump-link">index</a></p>
      </div>
    </div>
  {{/if}}

</div>

