<div id="api-list">
  <div id="api-tabview" class="tabview">
    <div id="api-tabview-filter">
      <input type="search" id="api-filter" placeholder="Type to filter APIs">
    </div>
    <div id="api-tabview-panel">
      <ul id="api-classes" class="apis classes">
      {{#globals.modules}}
        <li>
          <a class="module" href="{{project.root}}/modules/{{name}}.html">{{name}}</a>
          {{> sidebar-members}}
        </li>
      {{/globals.modules}}
      {{#globals.classes}}
        <li>
          {{#if is_enum}}
            <a class="class" href="{{project.root}}/enums/{{name}}.html">{{name}}</a>
          {{else}}
            <a class="class" href="{{project.root}}/classes/{{name}}.html">{{name}}</a>
          {{/if}}
          {{> sidebar-members}}
        </li>
      {{/globals.classes}}
      </ul>
    </div>
  </div>
</div>
